dist: bionic    # qt5-default 5.9.5 - requires qt>=5.6
language: cpp

# svg   - libqt5svg5-dev
# quick - qtdeclarative5-dev
before_install:
- sudo apt update -qq
- sudo apt install qt5-default qtdeclarative5-dev libqt5svg5-dev

script:
- qmake src/pilorama.pro
- make
