[Desktop Entry]
Type=Application
Version=1.5
Name=Pilorama
Comment=Advanced Timeboxing Tool
Exec=pilorama
Terminal=false
Icon=pilorama
Categories=Office;Clock;
GenericName=Timer
