[Desktop Entry]
Type=Application
Version=9.9.9
Name=Pilorama
Comment=Advanced Timeboxing Tool
Exec=Pilorama
Terminal=false
Icon=Pilorama
Categories=Office;Clock;
GenericName=Timer
