[Desktop Entry]
Type=Application
Version=5.0.0
Name=Pilorama
Comment=Advanced Timeboxing Tool
Exec=pilorama
Terminal=false
Icon=pilorama
Categories=Office;Clock;
GenericName=Timer
