@tailwind base;

@tailwind components;

@tailwind utilities;

body {
	background: #3E393A url("assets/dark-circle.svg") top left no-repeat;
	font-family: Helvetica;
	letter-spacing: 0.015em;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}
